[submodule "TRPO"]
	path = TRPO
	url = https://github.com/alirezakazemipour/TRPO-PyTorch
[submodule "ACKTR"]
	path = ACKTR
	url = https://github.com/alirezakazemipour/ACKTR-PyTorch
[submodule "TD3"]
	path = TD3
	url = https://github.com/alirezakazemipour/TD3-PyTorch
[submodule "A3C-ACER"]
	path = A3C-ACER
	url = https://github.com/alirezakazemipour/A3C-ACER-PyTorch
[submodule "Distributional-RL"]
	path = Distributional-RL
	url = https://github.com/alirezakazemipour/Distributional-RL
[submodule "PPO-RND"]
	path = PPO-RND
	url = https://github.com/alirezakazemipour/PPO-RND
